[%define "listProducts"%]
   [% range . %]
   <div class="col-lg-6">
	   [% if .Images %]
	   <img class="img-thumbnail" src="/public/upload/thumb_[% index .Images 0 %]" style="height: 240px;">
	   [% else %]
	   <img class="img-thumbnail" src="/public/images/empty.gif" style="height: 240px; width: 240px">
	   [% end %]
	   <h3>[%.Title%]</h3>
	   <p>[%.Description%]</p>
       <p> Цена: [% .Price %] &nbsp; </p>
	   <p>
		   <a class="btn btn-default" href="/view_product/[% .Id %]">подробнее</a>
		   <a class="btn btn-info" href="#" onclick="addToCart([%.Id%],'[%.Price%]'); return false;"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> в корзину</a></p>
   </div><!--/col-->
   [%end%]
[%end%]

[% define "title" %]
   [% if .SelectedCat %]
   [% .SelectedCat.Title %]
   [% else %]
   Главная
   [% end %]
[%end%]
   
[% define "filter" %]
   <form class="form" action="" method="GET">
	  <h4>Поиск по параметрам</h4>
	  [% range $index, $c := .CategoryAttrs %]
	  [% $req_vals := index $.Req .CatAttr.Attr %]
	  
	  <div class="form-group">
		  [% if eq .CatAttr.SearchType "text" %]
		  <label>[% .CatAttr.Attr %]:
			  <span><input id="inp[% $index %]" class="form-control" type="text" name="[% .CatAttr.Attr %]" value="[% $req_vals %]"></span>
		  </label>
		  [% else if eq .CatAttr.SearchType "select" %]
		  <label>[% .CatAttr.Attr %]:
			  <select class="form-control" name="[% .CatAttr.Attr %]">
			  [% range .Options %]
			  <option value="[% .K %]"[% if $req_vals %][% if eq (index $req_vals 0) .K %] selected[% end %][% end %]>[% .V %]</option>
			  [% end %]
			  </select>
		  </label>
		  [% else if eq .CatAttr.SearchType "multiselect" %]
		  <label>[% $c.CatAttr.Attr %]:
		    [% range $i, $k := .Options %]
		    <br><label><input type="checkbox" name="[% $c.CatAttr.Attr %]" value="[% .V %]"[% range $req_vals %][% if eq . $k.K %] checked[% end %][% end %]> [% .K %]</label>
		    [% end %]
		  </label>
		  [% else if eq .CatAttr.SearchType "checkbox" %]
		   <label>[% .CatAttr.Attr %]: <input type="checkbox" name="[% .CatAttr.Attr %]" value="1"[% if $req_vals %] checked[% end %]></label>
		  [% else if eq .CatAttr.SearchType "range" %]
		  <label>[% .CatAttr.Attr %]:		  </label>

			  <input type="text" class="form-control" name="[% .CatAttr.Attr %]" value="[% if $req_vals %][% index $req_vals 0 %][% end %]"> &mdash;
			  <input type="text" class="form-control" name="[% .CatAttr.Attr %]" value="[% if $req_vals %][% index $req_vals 1 %][% end %]">
		  [% end %]
	  </div>
	  [% end %]
	  <button type="submit" class="btn btn-default">Искать</button>
	  <input type="hidden" name="category" value="[% if .SelectedCat %][% .SelectedCat.Id %][% end %]">
  </form>
[% end %]

[%define "content"%]

    <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <h1>[% template "title" . %]</h1>
    <p>&nbsp;</p>
    <div class="row">
		[% template "listProducts" .Products %]
    </div><!--/row-->

[%end%]
