[% define "breadcrumbs" %]
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>
[% end %]

[% define "filter" %]
[% end %]

[% define "title" %][% .Title %][% end %]

[%define "content"%]
    <h1>[% .Title %]</h1>
    <p>&nbsp;</p>
    <div class="row">
        <div>[% template "breadcrumbs" .Product.Category %]</div>
        <h2>[% .Product.Title %]</h2>
        [% if .Product.Images %]
        <div class="col-md-6">
	    <img class="img" src="/public/upload/[% index .Product.Images 0 %]">
        </div>
        [% end %]
        <div class="col-md-6">
            <h4>Описание товара</h4>
            <p>[% .Product.Description %]</p>
			<p> Цена: [% .Product.Price %]
				&nbsp;&nbsp;
				<a class="btn btn-info" href="#" onclick="addToCart([%.Product.Id%],'[%.Product.Price%]'); return false;">
				<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> в корзину
			</a></p>
            <br>
            <p>
            <h4>Характеристики товара</h4>
            <table class="table table-condensed">
            [% range .Product.AttrVals %]
              <tr>
                  <td>[%.Attr%]</td>
                  <td><b>[%.Value%]</b></td>
              </tr>
            [% end %]
            </table>
            </p>
        </div>
    </div><!--/row-->

[%end%]

